body {
    margin: 25px;
}

/* Boxes */
.box-place {
    display: flex;
    flex-direction: column;
    gap: 8.7px;
    width: 100%;
}

.box-line {
    display: flex;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    border: 2px solid #282828;
    background-color: #202020;
}

.box-small {
    padding: 0;
}

.box-medium {
    padding: 10px;
}

.box-huge {
    padding: 20px;
}

.box-huge-x {
    padding: 30px;
}

.box-huge-xx {
    padding: 40px;
}

.card-image {
    width: 80px;
    height: 80px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 16px;
}

.box-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-title,
.box-data,
.box-data-2 {
    margin-left: 12px;
    margin-bottom: 6px;
    transition: all 0.4s;
}

.box-title {
    font-size: medium;
    color: #ffffffab;
}

.box-data {
    font-size: xx-large;
    color: #ffffff;
}

.box-data-2 {
    font-size: 14px;
    color: #ffffffab;
}

.box-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px 20px;
}

.box-table input {
    outline: none;
    width: 220px;
    height: 36px;
    border-radius: 6px;
    padding-left: 10px;
    font-size: 15px;
    transition: all 0.4s;
    color: #aaaaaa;
    border: 2px solid #282828;
    background-color: #181818;
}

.box-table input::placeholder {
   color: #aaaaaa;
}

.box-table input:focus {
    border: 2px solid #333333;
}

.box-data-2 button,
.box-data-2 input {
    height: 100%;
    margin: 3px 3px 3px 0;
    padding: 3px;
    color: #ffffff;
    text-align: left;
    background: transparent;
    border: 2px solid #282828;
    border-radius: 6px;
    transition: all 0.4s;
}

/* Table box */
.tablebox {
    width: 100%;
    height: 100%;
}

.tablebox table {
    width: 100%;
    overflow: hidden;
    border-spacing: 0;
    border-collapse: collapse;
}

.tablebox th,
.tablebox td {
    height: 40px;
    padding: 0 16px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ffffff0e;
}

.tablebox tr {
    transition: all 0.4s;
}

.tablebox tr:hover {
    background-color: #333333;
}

.tablebox th {
    font-size: 14px;
    font-weight: normal;
    color: #cccccc;
    background: #252525;
}

.tablebox tr:last-child th,
.tablebox tr:last-child td {
    border-bottom: none;
}

.tablebox .col-element {
    font-size: small;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
}

.btn-group button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: #ffffff;
    background: #3c3c3c;
    border: 2px solid #3c3c3c;
    border-radius: 4px;
}

.btn-icon {
    width: 100%;
    height: 100%;
}

.btn-icon-trash {
    outline: #ff5252;
    fill: #ff5252;
}

.btn-group button:disabled .btn-icon-analytics {
    outline: #ffffff80;
    fill: #ffffff80;
}

.great-ping,
.online {
    color: #a0ff86;
}

.normal-ping {
    color: #ffe986;
}

.bad-ping,
.offline {
    color: #ff5252;
}

.right-align {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}